// To import from scss fiel
@import "../../scss/colour.scss";

.toolbar{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color:white;
}
.iconTitle{
  display: flex;
}
.titleFundoo{
  vertical-align: middle;
  line-height: -45px;
  width: 100%
}
.searchBar{
  display: flex;
  width: 50%;
  border-radius: 2% 
}

.example-toolbar {
  background-color: inherit;
  border-bottom-style: ridge;
  border-color: white;
  outline: none;
}
// .f {
//   color: $blue;
//   font-weight: bold;
//   font-family: "Gill Sans";
//   text-align: center;
// }
// .u {
//   color: $red;
//   font-weight: bold;
//   font-family: "Gill Sans";
//   text-align: center;
// }
// .n {
//   color: $yellow;
//   font-weight: bold;
//   font-family: "Gill Sans";
//   text-align: center;
// }
// .d {
//   color: $blue;
//   font-weight: bold;
//   font-family: "Gill Sans";
//   text-align: center;
// }
// .o {
//   color: $green;
//   font-weight: bold;
//   font-family: "Gill Sans";
//   text-align: center;
// }
// .oo {
//   color: $red;
//   font-weight: bold;
//   font-family: "Gill Sans";
//   text-align: center;
// }

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
// Assure that toolbar stay on top of the content always
.example-is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}
.menu-button {
  color: #757575;
  margin-left: 0%;
  padding: 0% 5%;
}

.search {
  border-radius: 10%;
  margin-left: - 28%;
  width: 100%;
  line-height: 2;
  background: rgba(0, 0, 0, 0.04);
  border: none;
  outline: none;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

#refresh {
  margin-left: 10%;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background-color: white;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.example-header-image {
  background-image: url("../../../assets/image/profile.jpg");
  background-size: cover;
  border-radius: 50%;
  // margin-top: -8px;
  // width: 40px;
  // height: 40px;
}
// #user-image-button{
//   border-radius: 50%;
//   // margin-top: -8px;
//   width: 40px;
//   height: 40px;

// }

.menu-button {
  width: 20%;
  // background-image: url("../../../assets/image/profile.jpg");
  // background-size: cover;
  // // background-color: aqua;
  // border-radius: 50%;

}

.menu-button {
  display: flex;
  justify-content: space-between;
  padding: 25px 45px;
}
#user-image-button {
  margin-left: 6%;
}
.profileMenu {
  min-width: 200px;
  max-width: 250px;
}
.sidenav {
  border-color: white;
}

#rema {
  font-size: 20px;
  font-family: sans-serif;
}
mat-sidenav {
  width: 250px;
}

.search {
  margin-left: 25%;

  border: 1px;
}
#img1 {
  margin-right: 10%;
}
#img2 {
  margin-right: 10%;
}
#edit {
  margin-right: 10%;
}
#img4 {
  margin-right: 10%;
}
#img5 {
  margin-right: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 2%;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

#para {
  margin-left: 9%;
}

.settings {
  display: flex;
  flex-direction: row;
  float: right;
}
.apps {
  display: flex;
  flex-direction: row;
  width: 4%;
}

.example-toolbar {
  display: flex;
  flex-direction: row;
}

#username {
  font: bold;
  margin-left: 40%;
}

.matMenu {
  width: 10px;
}

.mat-raised-button:not([class*="mat-elevation-z"]) {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-left: 36%;
}

.mat-stroked-button:not([class*="mat-elevation-z"]) {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14),
    0 0 0 0 rgba(0, 0, 0, 0.12);
  width: 140px;
}

#menu{
  opacity: 0.7
}
#search{
  opacity: 0.7
}
#refresh{
  opacity: 0.7
}
#gridlist{
  img {
      opacity: 0.7
  }
}
#title{
  opacity: 0.7;
  font-family: 'Times New Roman';
  margin-top: 7%
}
.signout{
  margin-left: auto;
  margin-right: auto
}



// .gb_Ta {
//   outline: none;
//   transform: translateZ(0);
// }

element.style {
}
.gb_Fc.gb_7b .gb_Ra, .gb_Fc.gb_7b .gb_Sa, .gb_Fc.gb_7b .gb_z, .gb_7b.gb_z {
    display: block;
}
.gb_Ta {
    outline: none;
    transform: translateZ(0);
}
.gb_z {
    z-index: 991;
    line-height: normal;
}

.gb_z {
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  color: #000;
  // -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  display: none;
  outline: none;
  overflow: hidden;
  position: absolute;
  right: 8px;
  top: 62px;
  // -webkit-animation: gb__a .2s;
  animation: gb__a .2s;
  // -webkit-border-radius: 2px;
  border-radius: 2px;
  // -webkit-user-select: text;
}

.gb_1a {
  margin: 20px;
  white-space: nowrap;
}