.matcard {
  margin-top: 3%;
}
.Border {
  border-color: white;
  border: none;
  outline: none;
  user-select: none;
  font-family: "Gill Sans";
}

[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
}

.maincard {
  width: 60%;
  color: rgb(173, 166, 166);
  border: none;
  outline: none;
  user-select: none;
  //margin-top: 30px;
}

.addnote {
  width: 10px;
  margin-left: 0%;
}
.textArea {
  background: transparent;
  font-family: "Times New Roman";
}

.Border :focus {
  outline: white;
}
element.style {
  border-color: white;
}

[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
}

.title {
  margin-bottom: 20px;
  color: rgb(173, 166, 166);
  border: none;
  outline: none;
  user-select: none;
}

.textArea {
  border: none;
  outline: none;
  user-select: none;
}

.takenote {
  margin-bottom: 10px;
  color: rgb(173, 166, 166);
  border: none;
  outline: none;
  user-select: none;
}
.barpin {
  border: none;
  outline: none;
  user-select: none;
  margin-top: 10px;
}
#img2 {
  opacity: 0.7;
}
#pin {
  img {
    opacity: 0.7;
  }
}
#unpin {
  img {
    opacity: 0.7;
  }
}
