.title {
    font-family: 'Times New Roman';
    font-weight: bold;
    color: #0D47A1;
    // margin-left:30%
}

.card {

    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 3%;
    margin-left: auto;
    width: 40%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.459);
    border-radius: 2%
}

@media only screen and (max-width: 600px) {
    .email {
        width: 100%;
    }
}

.email {
    margin-left: 0%;
    width: 100%;
}

.s {
    margin-left: 64%
}

.login {
    margin-left: 20%;
    color: #0D47A1
}

.button {
    margin-left: 10%;
    background-color: #0D47A1;
}

.f {
    color: #01579B;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
}

.u {
    color: #D50000;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
}

.n {
    color: #FF8F00;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
}

.d {
    color: #01579B;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
}

.o {
    color: #33691E;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
}

.oo {
    color: #D50000;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
}

.fundoo {
    // margin-left: 39%;
    font-family: sans-serif
}

.link {
    color: #2962FF;
    margin-left: 15%
}

.for-button {
    display: flex;
    // justify-content: space-between;
}