.matmenu {
    width: 100%;
    border-radius: 5%;
    font-family: 'Times New Roman';
}

.btn {
    border-radius: 50%;

}

.white {
    background-color: rgb(248, 248, 248);
    margin-left: 5px;
    margin-bottom: 5px;
}

.red {

    margin-left: 8px;
}

.orange {

    margin-left: 8px;
}

.yellow {

    margin-left: 8px;
    margin-right: 8px;
}

.green {

    margin-left: 8px;
    margin-bottom: 10px;
}

.teal {

    margin-left: 8px;
}

.blue {
    size: 1px;
    margin-left: 8px;
}

.darkblue {

    margin-left: 8px;
}

.purple {

    margin-left: 8px;
    margin-bottom: 10px;
}

.pink {

    margin-left: 8px;
}

.Brown {

    margin-left: 8px;
}

.gray {

    margin-left: 8px;
}



#Remaind {
    img {
        opacity: 0.7
    }
}

#coll {
    img {
        opacity: 0.7
    }
}

#col {
    img {
        opacity: 0.7
    }
}

#img {
    img {
        opacity: 0.7
    }
}

#arc {
    img {
        opacity: 0.7
    }
}

#unarc {
    img {
        opacity: 0.7
    }
}

#menu {
    img {
        opacity: 0.7
    }
}

#later {
    opacity: 0.6;
}

#tom {
    opacity: 0.6;
}

#nextweek {
    opacity: 0.6;
}