/**************************************** All colours are decleared used in scss ********************************************/

// colour blue
$blue : #01579B;

// colour red
$red : #D50000;

// Yellow
$yellow : #FF8F00;

//green
$green : #33691E;

//light blue
$lblue : #2962FF;

//lgreen
$lgreen : #296;