<div fxFlex="100" fxLayout="column">
  <div fxLayoutAlign="start start">
    <h3>Collaborators</h3>
  </div>

  <mat-divider></mat-divider>

  <!-- *************************************** Owner information ************************************* -->

  <br>
  <div fxLayout="row">
    <div fxFlex="10">
      <button mat-mini-fab [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}" colour="basic"
        matTooltip=" Fundoo Account user: {{username}}, email: {{email}}" [matTooltipClass]="'my-tooltip'"
        fxLayout="row" fxLayoutAlign="end center">
      </button>
    </div>

    <div fxFlex='70' fxLayout="column">
      <div fxLayout="row">
        {{username}} (Owner)
      </div>
      <div>
        {{email}}
      </div>
    </div>
  </div>

  <!-- ************************************ To share Notes with other user *********************************** -->

  <br>


  <div fxLayout="row">

    <div fxFlex="10">
      <button mat-mini-fab fxLayout="row" style="background-color:bisque" fxLayoutAlign="end center">
      </button>
    </div>

    <div fxFlex='90' fxLayout="row">
      <input [(ngModel)]="name" matInput placeholder="Person or email to share with" autocomplete="off" maxlength="45">


      <button mat-icon-button *ngIf="flag==true" (click)="saveCollaborators()">
        <img src="../../../assets/image/corrrect.svg">
      </button>

      <!-- <button mat-icon-button *ngIf="flag==false" (click)="reverseFlag()">
        <img src="../../../assets/image/close.svg">
      </button> -->

    </div>


  </div>

  <br>
  <mat-divider></mat-divider>
  <br>

  <div class="button-background">
    <div class="button" fxLayout="row"  fxLayoutGap="5%">
      <button mat-button [mat-dialog-close] fxLayoutGap="5%">Cancel</button>
      <button mat-button (click)="saveUser()" fxLayoutGap="5%">Save</button>
    </div>
  </div>

</div>