<div fxFlex="100" fxLayout="column">
  <div fxLayoutAlign="start start">
    <h3>Collaborators</h3>
  </div>

  <mat-divider></mat-divider>

  <!-- *************************************** Owner information ************************************* -->

  <br>
  <div fxLayout="row">
    <div fxFlex="10">
      <button mat-mini-fab [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}" colour="basic"
        matTooltip=" Fundoo Account user: {{username}}, email: {{email}}" [matTooltipClass]="'my-tooltip'"
        fxLayout="row" fxLayoutAlign="end center">
      </button>
    </div>

    <div fxFlex='70' fxLayout="column">
      <div fxLayout="row">
        {{username}} (Owner)
      </div>
      <div>
        {{email}}
      </div>
    </div>
  </div>

  <!-- ************************************ To display users collaborated to notes *********************************** -->
  <br>
  <div *ngFor="let item of card.collab" fxLayout="row">
    <div fxFlex='10'>
      <button mat-mini-fab style="background-color:bisque" fxLayoutAlign="center center" class="collablist">
        <!-- <img src="../../../assets/image/collab.jpg"> -->
      </button>
    </div>
    <div fxLayout="column" fxFlex='85'>
      <div>
        {{item}}
      </div>
      <!-- <div>
        email
      </div> -->

    </div>
    <button mat-icon-button (click)="removeCollaborators(item,card)"><img src="../../../assets/image/close.svg"
        alt=""></button>

  </div>



  <br>
  <div fxLayout="row">

    <div fxFlex="10">
      <button mat-mini-fab fxLayout="row" style="background-color:bisque" fxLayoutAlign="center center" fxcFlex="80">
        <img class="coloimg" src="../../../assets/image/colo.svg">

      </button>
    </div>

    <div fxFlex='90' fxLayout="row">
      <input [(ngModel)]="collabadd" matInput placeholder="Person or email to share with" autocomplete="off"
        maxlength="45">


      <button mat-icon-button (click)="saveCollaborators(collabadd)">
        <img src="../../../assets/image/corrrect.svg">
      </button>

      <!-- <button mat-icon-button *ngIf="flag==false" (click)="reverseFlag()">
        <img src="../../../assets/image/close.svg">
      </button> -->

    </div>


  </div>

  <br>
  <mat-divider></mat-divider>
  <br>

  <div class="button-background" fxFlex="100">
    <div class="button" fxLayout="row" fxLayoutGap="5%" fxFlex="80">
      <button mat-button [mat-dialog-close] fxLayoutGap="5%">Cancel</button>
      <button mat-button [mat-dialog-close] (click)="saveUser()"  (click)="saveCollaborators(collabadd)" fxLayoutGap="5%">Save</button>
    </div>
  </div>

</div>