<!--The content below is only a placeholder and can be replaced.-->


<router-outlet>
  
</router-outlet>


<!-- <div fxLayout="row"  fxLayout.xs='column'fxFlex='100' >


    

    
                <mat-form-field fxFlex='60' appearance="outline">
                  <mat-label>Outline form field</mat-label>
                  <input matInput placeholder="Placeholder">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              
        
                <mat-form-field  fxFlex='40' appearance="outline">
                  <mat-label>Outline form field</mat-label>
                  <input matInput placeholder="Placeholder">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
        
</div> -->