@import "../../scss/colour.scss";

.card {
  width: 50;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 5%;
  border-radius: 02%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.459);
}

.fundoo {
  text-align: center;
  font-family: "Times New Roman";
  font: bold;
  margin-top: 05%;
  font-size: 200%;
}

.f {
  color: $blue;
  font-weight: bold;
  font-family: "Times New Roman";
  text-align: center;
}

.u {
  color: $red;
  font-weight: bold; // font-family: sans-serif;
  text-align: center;
}

.n {
  color: $yellow;
  font-weight: bold; // font-family: sans-serif;
  text-align: center;
}

.d {
  color: $blue;
  font-weight: bold; // font-family: sans-serif;
  text-align: center;
}

.o {
  color: $green;
  font-weight: bold; // font-family: sans-serif;
  text-align: center;
}

.oo {
  color: $red;
  font-weight: bold; // font-family: sans-serif;
  text-align: center;
}
.reset-title {
  font-family: "Times New Roman";
  font-size: 120%;
}
.sub-title {
  font-family: "Times New Roman";
  font-size: 100%;
}
.new-pass {
  align-items: center;
  width: 100%;
}
.con-password {
  align-self: auto;
}
#confirm-button {
  background-color: $lblue;
  font-family: "Gill Sans";
}
.link {
  color: $blue;
}
